.loginBackgraund {
  height: 100vh;
  width: 100vw;
  /*background: linear-gradient(54deg,rgba(244, 98, 99, 1) 0%, rgba(220, 53, 69, 1) 50%, rgba(237, 221, 83, 1) 100%);*/
  background-image: url('/src/assets/img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-color: #ffffff85;
  border-radius: 17px;
  width: 354px;
  padding: 20px;
}

.loginContent--campos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

input {
  height: 35px;
  border-radius: 11px;
  width: 74%;
  border: none;
  padding: 6px;
}

.loginContent--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 31px;
  width: 100%;
}

.loginContent--btn button {
  width: 50%;
  border-radius: 50px;
  background-color: #f70505;
  border: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.loginContent--btn button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
