.main-container {
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "main-container--sidebard main-container--navbar"
    "main-container--sidebard main-container--main"
    "main-container--sidebard main-container--main";
}

.main-container--sidebard {
  grid-area: main-container--sidebard;
  background-color: #fc6868;
  height: 100vh;
}

.main-container--navbar {
  grid-area: main-container--navbar;
  padding: 12px;
}

.main-container--main {
  grid-area: main-container--main;
  padding: 50px;
}

.main-container--main--content {
  height: 100%;
  padding: 50px;
  border-radius: 13px;
  box-shadow: 2px 2px 8px 5px #0000002b;
}
