html,
body {
  height: 100%;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "main-container--sidebard main-container--navbar"
    "main-container--sidebard main-container--main";
  min-height: 100vh;
}

.main-container--sidebard {
  grid-area: main-container--sidebard;
  background-color: #fc6868;
  height: 100%;
  min-height: 100vh;
}

.main-container--navbar {
  grid-area: main-container--navbar;
  padding: 12px;
}

.main-container--main {
  grid-area: main-container--main;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.main-container--main--content {
  flex: 1;
  padding: 50px;
  border-radius: 13px;
  box-shadow: 2px 2px 8px 5px #0000002b;
  overflow-y: auto;
}
