.navbar {
  border-radius: 13px;
  padding: 12px 16px;
  box-shadow: 2px 2px 8px 5px #0000002b !important;
}

.name--user {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  word-break: break-word;
}

.role--user {
  color: #fc6868;
  font-weight: 400;
  font-size: 14px;
  text-transform: lowercase;
}

.user-initials {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #fc6868;
  color: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.dropdown-item:hover {
  background-color: #fc6868 !important;
  color: #fff !important;
}

/* Media query opcional para pantallas pequeñas */
@media (max-width: 576px) {
  .navbar {
    text-align: center;
  }

  .name--user {
    font-size: 14px;
  }

  .role--user {
    font-size: 12px;
  }
}
