#side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* altura completa de la ventana */
  width: 280px; /* o el ancho que quieras */
  background: linear-gradient(182deg,rgba(244, 98, 99, 1) 0%, rgba(220, 53, 69, 1) 50%, rgba(237, 221, 83, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000; /* para estar por encima del contenido */
}


#side-bar > div > a > img {
  width: 192px;
}

.side-bar--options {
  width: 100%;
}

.side-bar--options > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.side-bar--options > ul > li {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 70%;
  text-decoration: none;
}

.side-bar--options > ul > li > a {
  width: 100%;
  display: block;
  height: 100%;
  padding: 10px;
}

.side-bar--options > ul > li:hover {
  background-color: red;
  color: #d9d9d9;
  cursor: pointer;
}

.side-bar--logout {
  cursor: pointer;
}

.side-bar--logout > button {
  color: #d9d9d9;
  text-decoration: none;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.side-bar--logout > button:hover {
  background-color: inherit;
  border-radius: 5px;
  box-shadow: #d9d9d9 0px 0px 0px 2px inset, #d9d9d9 0px 0px 0px 4px;
}
